<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>project3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitsAdd</display-name>
    <servlet-name>FruitsAdd</servlet-name>
    <servlet-class>admin.servlet.FruitsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitsAdd</servlet-name>
    <url-pattern>/FruitsAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>admin.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCateServlet</display-name>
    <servlet-name>ListCateServlet</servlet-name>
    <servlet-class>admin.servlet.ListCateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCateServlet</servlet-name>
    <url-pattern>/ListCateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCateServlet</display-name>
    <servlet-name>EditCateServlet</servlet-name>
    <servlet-class>admin.servlet.EditCateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCateServlet</servlet-name>
    <url-pattern>/EditCateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateDelete</display-name>
    <servlet-name>CateDelete</servlet-name>
    <servlet-class>admin.servlet.CateDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateDelete</servlet-name>
    <url-pattern>/CateDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateFruitAdd</display-name>
    <servlet-name>CateFruitAdd</servlet-name>
    <servlet-class>admin.servlet.CateFruitAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateFruitAdd</servlet-name>
    <url-pattern>/CateFruitAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCateFruit</display-name>
    <servlet-name>ListCateFruit</servlet-name>
    <servlet-class>admin.servlet.ListCateFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCateFruit</servlet-name>
    <url-pattern>/ListCateFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCateFruit</display-name>
    <servlet-name>DeleteCateFruit</servlet-name>
    <servlet-class>admin.servlet.DeleteCateFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCateFruit</servlet-name>
    <url-pattern>/DeleteCateFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCateFruit</display-name>
    <servlet-name>EditCateFruit</servlet-name>
    <servlet-class>admin.servlet.EditCateFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCateFruit</servlet-name>
    <url-pattern>/EditCateFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFruitCate</display-name>
    <servlet-name>ListFruitCate</servlet-name>
    <servlet-class>admin.servlet.ListFruitCate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFruitCate</servlet-name>
    <url-pattern>/ListFruitCate</url-pattern>
  </servlet-mapping>
</web-app>