<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>project3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitsAdd</display-name>
    <servlet-name>FruitsAdd</servlet-name>
    <servlet-class>admin.servlet.FruitsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitsAdd</servlet-name>
    <url-pattern>/FruitsAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>admin.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCateServlet</display-name>
    <servlet-name>ListCateServlet</servlet-name>
    <servlet-class>admin.servlet.ListCateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCateServlet</servlet-name>
    <url-pattern>/ListCateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCateServlet</display-name>
    <servlet-name>EditCateServlet</servlet-name>
    <servlet-class>admin.servlet.EditCateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCateServlet</servlet-name>
    <url-pattern>/EditCateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateDelete</display-name>
    <servlet-name>CateDelete</servlet-name>
    <servlet-class>admin.servlet.CateDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateDelete</servlet-name>
    <url-pattern>/CateDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateFruitAdd</display-name>
    <servlet-name>CateFruitAdd</servlet-name>
    <servlet-class>admin.servlet.CateFruitAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateFruitAdd</servlet-name>
    <url-pattern>/CateFruitAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCateFruit</display-name>
    <servlet-name>ListCateFruit</servlet-name>
    <servlet-class>admin.servlet.ListCateFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCateFruit</servlet-name>
    <url-pattern>/ListCateFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCateFruit</display-name>
    <servlet-name>DeleteCateFruit</servlet-name>
    <servlet-class>admin.servlet.DeleteCateFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCateFruit</servlet-name>
    <url-pattern>/DeleteCateFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCateFruit</display-name>
    <servlet-name>EditCateFruit</servlet-name>
    <servlet-class>admin.servlet.EditCateFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCateFruit</servlet-name>
    <url-pattern>/EditCateFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFruitCate</display-name>
    <servlet-name>ListFruitCate</servlet-name>
    <servlet-class>admin.servlet.ListFruitCate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFruitCate</servlet-name>
    <url-pattern>/ListFruitCate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCaFruit</display-name>
    <servlet-name>ListCaFruit</servlet-name>
    <servlet-class>admin.servlet.ListCaFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCaFruit</servlet-name>
    <url-pattern>/ListCaFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCate</display-name>
    <servlet-name>ListCate</servlet-name>
    <servlet-class>admin.servlet.ListCate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCate</servlet-name>
    <url-pattern>/ListCate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHome</display-name>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>admin.servlet.AdminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFruits</display-name>
    <servlet-name>ListFruits</servlet-name>
    <servlet-class>admin.servlet.ListFruits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFruits</servlet-name>
    <url-pattern>/ListFruits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFruit</display-name>
    <servlet-name>EditFruit</servlet-name>
    <servlet-class>admin.servlet.EditFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFruit</servlet-name>
    <url-pattern>/EditFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFruit</display-name>
    <servlet-name>DeleteFruit</servlet-name>
    <servlet-class>admin.servlet.DeleteFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFruit</servlet-name>
    <url-pattern>/DeleteFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFruitServlet</display-name>
    <servlet-name>EditFruitServlet</servlet-name>
    <servlet-class>admin.servlet.EditFruitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFruitServlet</servlet-name>
    <url-pattern>/EditFruitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFruit</display-name>
    <servlet-name>DisplayFruit</servlet-name>
    <servlet-class>servlet.DisplayFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFruit</servlet-name>
    <url-pattern>/DisplayFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitServlet</display-name>
    <servlet-name>FruitServlet</servlet-name>
    <servlet-class>servlet.FruitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitServlet</servlet-name>
    <url-pattern>/FruitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogServlet</display-name>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>servlet.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/BlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactDaoImpl</display-name>
    <servlet-name>ContactDaoImpl</servlet-name>
    <servlet-class>dao.ContactDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDaoImpl</servlet-name>
    <url-pattern>/ContactDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBlogServlet</display-name>
    <servlet-name>CreateBlogServlet</servlet-name>
    <servlet-class>admin.servlet.CreateBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBlogServlet</servlet-name>
    <url-pattern>/CreateBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBlogServlet</display-name>
    <servlet-name>EditBlogServlet</servlet-name>
    <servlet-class>admin.servlet.EditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBlogServlet</servlet-name>
    <url-pattern>/EditBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBlogServlet</display-name>
    <servlet-name>ListBlogServlet</servlet-name>
    <servlet-class>admin.servlet.ListBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBlogServlet</servlet-name>
    <url-pattern>/ListBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlogServlet</display-name>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <url-pattern>/DeleteBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFruit</display-name>
    <servlet-name>ViewFruit</servlet-name>
    <servlet-class>admin.servlet.ViewFruit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFruit</servlet-name>
    <url-pattern>/ViewFruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDao</display-name>
    <servlet-name>CartDao</servlet-name>
    <servlet-class>servlet.CartDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDao</servlet-name>
    <url-pattern>/CartDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDaoImpl</display-name>
    <servlet-name>CartDaoImpl</servlet-name>
    <servlet-class>servlet.CartDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDaoImpl</servlet-name>
    <url-pattern>/CartDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartHome</display-name>
    <servlet-name>CartHome</servlet-name>
    <servlet-class>admin.servlet.CartHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartHome</servlet-name>
    <url-pattern>/CartHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderSuccess</display-name>
    <servlet-name>OrderSuccess</servlet-name>
    <servlet-class>servlet.OrderSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSuccess</servlet-name>
    <url-pattern>/OrderSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderServlet</display-name>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>admin.servlet.ListOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/ListOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPostTrend</display-name>
    <servlet-name>ListPostTrend</servlet-name>
    <servlet-class>admin.servlet.ListPostTrend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPostTrend</servlet-name>
    <url-pattern>/ListPostTrend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPostServlet</display-name>
    <servlet-name>EditPostServlet</servlet-name>
    <servlet-class>admin.servlet.EditPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPostServlet</servlet-name>
    <url-pattern>/EditPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostServlet</display-name>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>admin.servlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePostServlet</display-name>
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>admin.servlet.CreatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/CreatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDetaiServlet</display-name>
    <servlet-name>PostDetaiServlet</servlet-name>
    <servlet-class>servlet.PostDetaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDetaiServlet</servlet-name>
    <url-pattern>/PostDetaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailServlet</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>admin.servlet.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>admin.servlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>admin.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
</web-app>